.artwork--container {
  margin-top: 50px;
  margin-bottom: 150px;
}

.artwork-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 111px;
  letter-spacing: 6px;
  margin-bottom: 20px;
}

.artwork-content {
  display: flex;
  height: 120%;
}

.artwork-big-card {
  margin-right: 50px;
  width: 650px;
}

.artwork-big-card img {
  border-radius: 20px;
  object-fit: cover;
  object-position: center;
  height: 100%;
}

.description {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(25px);
  border-radius: 15px;
  position: relative;
  z-index: 2;
}

.artwork-big-description {
  bottom: 5em;
  display: flex;
  width: 90%;
  left: 1em;
  flex-direction: column;
  padding: 15px;
}

.artwork-big-description h2 {
  font-size: 26px;
  font-weight: bold;
  color: #0e0e0e;
}

.artwork-big-description span {
  font-size: 16px;
  color: #5e5e5e;
}

.artwork-small-card {
  margin-right: 20px;
  height: 150px;
  width: 220px;
}

.artwork-small-card img {
  border-radius: 20px;
  object-fit: cover;
  object-position: center;
}

.artwork-small-description {
  bottom: 2.4em;
  width: 92%;
  padding: 10px;
  left: 10px;
}

.artwork-small-description p {
  font-weight: bold;
  font-size: 14px;
}

.artwork-big-description h3 {
  font-size: 16px;
  font-weight: bold;
}

/* MOBILE */

@media screen and (max-width: 767px) {
  .artwork--container {
    position: relative;
    padding-top: 550px;
    padding-left: 180px;
    margin-bottom: 200px;
  }

  .artwork-title {
    font-size: 30px;
    width: 400px;
    line-height: 40px;
    letter-spacing: 4px;
    margin-left: -55px;
    margin-bottom: 1.5em;
  }

  .artwork-big-card {
    margin-bottom: 30px;
  }

  .artwork-big-card img {
    margin-left: -60px;
  }

  .artwork-big-description {
    left: -2.5em;
    width: 450px;
  }

  .artwork-content {
    display: block;
  }

  .artwork-small-cards {
    margin-top: -8em;
    margin-left: -3.8em;
  }

  .artwork-small-card {
    margin-top: 85px;
    display: flex;
    flex-wrap: wrap;
    margin-right: 40px;
  }
}