.footer--container {
    padding: 20px;
    margin-bottom: 20px;
}

.footer-contact {
    margin: 0px -50px;
}

.footer-logo-text {
    margin-left: 10px;
    margin-top: 8px;
}

.footer-about {
    font-size: 16px;
    line-height: 156.52%;
    color: #6E6E6E;
    margin-top: 35px;
    margin-bottom: 20px;
    max-width: 308px;
}

.footer-email {
    margin-left: -5px;
}

.footer-input {
    border: 0.2px solid #C7C7C7;
    box-shadow: 0px 25px 40px rgba(0, 0, 0, 0.01);
    border-radius: 24px;
    padding: 13px 20px 13px 21px;
}

.footer-contact-button {
    border: none;
    color: #ffffff;
    background-color: #6300FF;
    padding: 20px;
}

.footer-lang-button {
    background-color: #ffffff;
    border: 0.5px solid #000000;
    border-radius: 47px;
    padding: 10px 20px;
}

.btn-flg {
    margin-right: 10px;
    margin-top: 3px;
}

.btn-dropdown {
    margin-left: 50px;
    margin-top: 8px;
}

.font-bold {
    font-weight: bold;
    margin-bottom: 30px;
}

.color-gray {
    font-size: 16px;
    line-height: 156.52%;
    color: #6E6E6E;
    margin-bottom: 15px;
}

.stick {
    max-width: 1231px;
    border: 0.5px solid #EAEAEA;
    margin: 100px 0 50px 0;
}

.footer-subtitle > p {
    margin-left: 30px;
}

.footer-copyright {
    margin-right: 87px;
}

.footer-social {
    margin-left: 350px;
}

/* .footer-social > span {
    margin-right: 25px;
}

.footer-social > i {
    background: #9D9D9D;
} */

.footer-icon {
    max-width: 24px;
    height: 16px;
    margin-right: 25px;
}
