.footer--container {
    padding: 20px;
    margin-bottom: 20px;
}

.footer-contact {
    margin: 0px 10px;
}

.footer-logo-text {
    margin-left: 10px;
    margin-top: 8px;
}

.footer-about {
    font-size: 16px;
    line-height: 156.52%;
    color: #6e6e6e;
    margin-top: 35px;
    margin-bottom: 20px;
    max-width: 308px;
}

.footer-email {
    margin-left: -5px;
    display: flex;
}

.footer-input {
    border: 0.2px solid #c7c7c7;
    box-shadow: 0px 25px 40px rgba(0, 0, 0, 0.01);
    border-radius: 24px;
    padding: 18px;
}

.footer-contact-button {
    border: none;
    color: #ffffff;
    background-color: #6300ff;
    padding: 20px;
    width: 80px;
}

.footer-lang-button {
    background-color: #ffffff;
    border: 0.5px solid #000000;
    border-radius: 47px;
    padding: 10px 20px;
}

.btn-flg {
    margin-right: 10px;
    margin-top: 3px;
}

.btn-dropdown {
    margin-left: 50px;
    margin-top: 8px;
}

.font-bold {
    font-weight: bold;
    margin-bottom: 30px;
}

.color-gray {
    font-size: 16px;
    line-height: 156.52%;
    color: #6e6e6e;
    margin-bottom: 15px;
}

.footer-subtitle {
    flex: start;
}

.stick {
    max-width: 1231px;
    border: 0.5px solid #eaeaea;
    margin: 100px 0 50px 0;
}

.footer-subtitle>p {
    margin-left: 30px;
}

.footer-copyright {
    margin-right: 87px;
}

.footer-social {
    margin-left: 350px;
}

.footer-icon {
    max-width: 24px;
    height: 16px;
    margin-right: 25px;
}

/* MOBILE */

@media screen and (max-width: 767px) {
    .footer--container {
        justify-content: center;
        align-items: center;
        margin-top: -50px;
    }

    .footer-wrapper {
        display: block;
        padding: 0 120px;
    }

    .footer-logo {
        padding: 0 70px;
        text-align: center;
    }

    .font-bold {
        font-size: 16px;
    }

    .footer-mobile-info {
        margin-top: 30px;
    }

    .stick {
        margin: 30px 0px;
        margin-left: 110px;
        border: 0.5px solid #979797;
        width: 70%;
    }

    .color-gray {
        font-size: 14px;
    }

    .footer-subtitle {
        margin-left: 20px;
    }

    .footer-subtitle p {
        width: 8.5em;
        height: 0%;
        margin-right: -20px;
    }

    .footer-subtitles {
        display: block;
        margin-left: 40px;
    }

    .footer-social,
    .mobile-copyright {
        height: 20px;
        margin-left: 140px;
        margin-top: 10px;
        width: 200px;
    }

    .mobile-copyright {
        width: 400px;
        margin-left: 160px;
        margin-top: 15px;
    }

    .footer-sitemap {
        margin-right: 55px;
        margin-left: 15px;
    }
}