.container {
    width: 1199px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.btn {
    cursor: pointer;
    padding: 0 32px;
    border-radius: 47px;
    background-color: #ffffff;
    font-size: 14px;
    margin: 0 5px;
    font-weight: bold;
    max-height: 60px;
}

.grow-1 {
    flex: 1;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.justify-end {
    justify-content: flex-end;
}

.justify-start {
    justify-content: flex-start;
}

.wrap {
    flex-wrap: wrap;
}

@media screen and (min-width: 1199px) {
    .desktop-hidden {
        display: none;
    }

    .col {
        padding-left: 10px;
        padding-right: 10px;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        margin-left: -10px;
        margin-right: -10px;
    }

    .container {
        max-width: 1600px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 767px) {
    .mobile-hidden {
        display: none;
    }

    .container {
        max-width: 490px;
        margin: 0 auto;
    }

    .col {
        padding-left: 3px;
        padding-right: 3px;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        margin-left: -10px;
        margin-right: -10px;
    }

    .mobile-row {
        margin: 0;
    }
}
