.header--container {
    padding: 20px 40px;
}

.header--container .logo--container {
    margin: 5px 20px;
}

.header--container .logo--container img {
    max-height: 45px;
    max-width: 43px;
}

.header--container .logo--container p {
    margin: 8px 15px;
}

.header--container .header-searchbar {
    margin: 8px 10px;
}

.header-searchbar input {
    position: relative;
    background-color: #EDEDED;
    border-radius: 56px;
    border: none;
    padding: 10px 30px;
    font-size: 12px;
    min-width: 285px;
}

.header-searchbar img {
    position: absolute;
    z-index: 1;
    padding: 9px 10px;
}

.navbar--container {
    margin: 10px 20px;
}

.navbar--container a {
    color: #000000;
    font-size: 14px;
    padding: 0 8px;
    font-weight: bold;
}

.navbar--container img {
    max-width: 10px;
    height: 5px;
    margin-top: 15px;
}

.header-btn-create {
    border: none;
    color: #ffffff;
    background-color: #6300FF;
}

.header-btn-sign {
    border: 0.5px solid #6300FF;
}

.header-btn-theme {
    padding: 16px;
    border: 0.5px solid #C7C7C7;
}

/* MOBILE */
@media screen and (max-width: 767px) {
    .header--container {
        padding: 15px;
    }

    .logo--container {
        margin: 0px;
    }

    .logo--container p {
        margin: 10px;
    }

    .mobile-button {
        border-radius: 47px;
        border: 0.5px solid #C7C7C7;
        padding: 16px;
        margin: 5px 0;
        background-color: #ffffff;
    }

    .shape {
        padding: 18px;
    }

    .mobile-justify-between {
        display: flex;
        justify-content: space-between;
    }
}