main {
    height: 650px;
}

main .row {
    display: inline;
}

.title {
    margin: 100px 30px;
}

h1 {
    font-size: 71px;
}

.title p {
    margin: 40px 8px;
    font-size: 32px;
    font-weight: bold;
}

.parag {
    padding-top: 70px;
    font-size: 18px;
}

h4 {
    font-size: 40px;
    font-weight: 500;
    margin-top: -30px;
}

.btn-e {
    margin: 0px 30px;
}

.botsection {
    margin: 50px 40px;
}

.botsection span {
    font-size: 18px;
}

.s {
    padding-right: 25px;
    margin-top: 7px;
}

.s p {
    font-size: 29px;
}

.card {
    margin: 50px 30px;
}

.art {
    position: absolute;
    z-index: 1;
    margin: 45px 0px 0px -20px;
    max-width: 490px;
    max-height: 484px;
}

.rectangle {
    max-width: 528px;
    max-height: 484px;
}

.cardTop {
    position: relative;
    background-color: #E5E0F0;
    z-index: 3;
    margin: -170px -10px 0 10px;
    max-width: 438px;
    max-height: 100px;
    border-radius: 15px;
    padding: 20px;
}

.p-1 p {
    font-size: 14px;
}

.p-2 p {
    font-size: 24px;
    font-weight: bold;
    padding-right: 10px;
}

.p-3 p {
    font-size: 14px;
    padding-top: 10px;
}

.p-4 p {
    font-size: 14px;
}

.p-5 p {
    font-size: 18px;
    font-weight: 600;
}

.cardBot {
    position: absolute;
    background-color: #D2CEDB;
    z-index: 2;
    margin: -12px 0 0 -20px;
    width: 490px;
    height: 117px;
    border-radius: 0px 0px 15px 15px;
    padding: 20px;
}

.person {
    padding: 5px 15px;
}

.p-6 .name {
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
}

.p-6 p {
    margin: 0 20px 0 0;
    font-size: 18px;
    margin-left: 20px;
    margin-top: 5px;
}

/* MOBILE */

@media screen and (max-width: 767px) {
    .mobile-hidden {
        display: none;
    }

    .container {
        max-width: 460px;
        margin: 0 auto;
    }

    .col {
        padding-left: 3px;
        padding-right: 3px;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        margin-left: -10px;
        margin-right: -10px;
    }

    .mobile-row {
        margin: 0;
    }

    .home {
        flex-wrap: wrap;
    }

}