main {
    background-color: bisque;
}




/* MOBILE */

@media screen and (max-width: 767px) {
    .mobile-hidden {
        display: none;
    }

    .container {
        max-width: 460px;
        margin: 0 auto;
    }

    .col {
        padding-left: 3px;
        padding-right: 3px;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        margin-left: -10px;
        margin-right: -10px;
    }

    .mobile-row {
        margin: 0;
    }
}
