*,
::before,
::after {
    box-sizing: border-box;
    outline: none !important;
}

body {
    margin: 0;
    font-family: 'AvertaStd-Regular', sans-serif;
}

ul,
ol,
dl {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
    color: #000000;
}
