.welcome--container {
    height: 650px;
}

.welcome-starlight-title {
    margin: 100px 30px;
}

.welcome-starlight-title h1 {
    font-size: 71px;
}

.welcome-starlight-title p {
    margin: 40px 8px;
    font-size: 32px;
    font-weight: bold;
}

.welcome-starlight-paragraph p {
    padding-top: 30px;
    font-size: 18px;
    font-weight: normal;
}

.welcome-starlight-title h4 {
    font-size: 40px;
    font-weight: 500;
    margin-top: -30px;
}

.welcome-btn--container {
    margin: -25px 30px;
}


.welcome-btn-explore {
    border: none;
    color: #ffffff;
    background-color: #6300FF;
    padding: 14px 20px;
}

.welcome-bot--container {
    margin: 50px 40px;
}

.welcome-bot--container span {
    font-size: 18px;
}

.welcome-bot {
    padding-right: 25px;
    margin-top: 7px;
}

.welcome-bot p {
    font-size: 29px;
}

.welcome-slider--container {
    margin: 50px 30px;
}

.welcome-art {
    position: absolute;
    z-index: 1;
    margin: 45px 0px 0px -20px;
    max-width: 490px;
    max-height: 484px;
}

.welcome-rectangle {
    max-width: 528px;
    max-height: 484px;
}

.welcome-slider-on {
    position: relative;
    background-color: #E5E0F0;
    z-index: 3;
    margin: -170px -10px 0 10px;
    max-width: 438px;
    max-height: 100px;
    border-radius: 15px;
    padding: 20px;
}

.welcome-slider-on .left-p1 p {
    font-size: 14px;
}

.welcome-slider-on .left-p2 p {
    font-size: 24px;
    font-weight: bold;
    padding-right: 10px;
}

.welcome-slider-on .left-p3 p {
    font-size: 14px;
    padding-top: 10px;
}

.welcome-slider-on .right-p1 p {
    font-size: 14px;
}

.welcome-slider-on .right-p2 p {
    font-size: 18px;
    font-weight: 600;
}

.welcome-slider-bot {
    position: absolute;
    background-color: #D2CEDB;
    z-index: 2;
    margin: -12px 0 0 -20px;
    width: 490px;
    height: 117px;
    border-radius: 0px 0px 15px 15px;
    padding: 20px;
}

.slider-bot-user {
    padding: 5px 15px;
}

.slider-bot-p .slider-bot-name {
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
}

.slider-bot-p p {
    margin: 0 20px 0 0;
    font-size: 18px;
    margin-left: 20px;
    margin-top: 5px;
}

/* MOBILE */

@media screen and (max-width: 767px) {
    .welcome--container {
        flex-wrap: wrap;
        padding: 0 100px;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        margin-left: -10px;
        margin-right: -10px;
    }

    .welcome-starlight-title {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .welcome-starlight-text {
        margin: 0 85px;
    }

    .welcome-container h4 {
        margin: -25px 10px;
    }

    .welcome-starlight-paragraph p {
        margin: 30px 95px;
        font-size: 18px;
        font-weight: 400;
    }

    .welcome-btn--container {
        display: flex;
        justify-content: center;
        margin-top: -50px;
    }

    .welcome-bot--container {
        margin: 50px 155px;
    }

    .welcome-slider--container {
        margin: 10px 50px;
    }
}